body{
	background: #eee;
}

input[type=number]{
	outline: 0;
	border: 0;
	border-bottom: 1px solid #333;
	font-size: 1.2rem;
	background: transparent;
	display: block;
	animation:dowdon .01s linear infinite;
}

button{
	font-size: 2rem;
	display: block;
	outline: 0;
	border: 0;
	background: transparent;
	border: #121212;
	color: #333;
	padding: .3rem .5rem;
	animation: rotate 5s linear infinite;
}
@keyframes rotate{
	0%{transform: rotateX(0deg) rotateY(30deg)}
	100%{transform: rotateX(180deg) rotateY(200deg)}
}
@keyframes dowdon{
	0%{transform: translateY(1px) translateX(-2px);}
	33%{transform: translateY(0px) translateX(0px);}
	66%{transform: translateY(-1px) translateX(2px);}
	100%{transform: translateY(0px) translateX(0px);}
}
