body{
	background: #eee;
}

input[type=text]{
	outline: 0;
	border: 0;
	border-bottom: 1px solid #333;
	font-size: 1.2rem;
}

button{
	outline: 0;
	border: 0;
	background: #333;
	border: #121212;
	color: #eee;
	padding: .3rem .5rem;
}